.FirstView::before {
    content: "";
    height: 100%;
    width: 100%;
    background-image: var(--image);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    filter: blur(10px);
    left: 0;
    top: 0;
    position: absolute;
}

.FirstView {
    height: "50vh";
}
.inner-container{
    width:500px;
    height:500px;
    position:absolute;
    top:calc(20vh);
    left:calc(50vw);
    overflow:hidden;
  }