.FirstView::before {
    content: "";
    height: 100%;
    width: 100%;
    background-color: white;
    background-size: cover;
    background-position: fixed;
    background-repeat: no-repeat;
    background-attachment: fixed;
    filter: blur(10px);
    left: 0;
    top: 0;
    position: fixed;
}

.FirstView {
    height: "50vh";
}
.inner-container{
    width:500px;
    height:500px;
    position:absolute;
    top:calc(20vh);
    left:calc(50vw);
    overflow:hidden;
  }